#Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#PlayFramework
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
conf/application.conf
data
