@(eventType: models.EventType, agendaItems: List[(models.AgendaItem, models.AgendaType)])
<h4>Event Type <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('@routes.EventType.remove(eventType.id)')">Delete</a></h4>
<div class="row">
    <div class="col-md-4 col-sm-8">

        <form method="post" action="/eventtype/:id">
            <div class="form-group">
                <label>Id:</label>
                <div>
                    <span>@eventType.id</span>
                </div>
            </div>
            <div class="form-group">
                <label>Name:</label>
                <div>
                    <input class="form-control" name="name" value="@eventType.name">
                </div>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-8 col-sm-4 hidden-xs"></div>
</div>
<div class="row">
    <h4>Agenda</h4>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for((a,at) <- agendaItems) {
            <tr>
                <td>@a.id</td>
                <td>@at.name</td>
                <td>
                    @if(a.id > 1) {
                    <a class="btn btn-sm btn-default" href="@routes.EventType.moveagendaitem(eventType.id,a.id,a.id -1)"><span class="glyphicon glyphicon-menu-up"></span></a>
                    } else {
                    <a class="btn btn-sm btn-default" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                    }

                    @if(a.id < agendaItems.reverse.head._1.id) {
                    <a class="btn btn-sm btn-default" href="@routes.EventType.moveagendaitem(eventType.id,a.id,a.id+ 1)"><span class="glyphicon glyphicon-menu-down"></span></a>
                    } else {
                    <a class="btn btn-sm btn-default" href="#"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" href="#" onclick="confirmDelete('@routes.EventType.removeagendaitem(eventType.id,a.id)')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
