@(eventTypes: List[models.EventType])
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(eventType <- eventTypes) {
                <tr>
                    <td>@eventType.id</td>
                    <td>@eventType.name</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm" href="@routes.EventType.get(eventType.id)">View</a>

                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>