@(agendaTypes: Seq[models.AgendaType])
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(agendaType <- agendaTypes) {
                <tr>
                    <td>@agendaType.id</td>
                    <td>@agendaType.name</td>
                    <td><i>@{
                        agendaType.parent.map{id =>
                            (Some("") /:agendaTypes){(n,at) =>
                                if(at.id == id) Some(at.name) else n
                            }}.getOrElse(Some("")).getOrElse("")}</i></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm" href="@routes.AgendaType.get(agendaType.id)">Edit</a>
                            <a class="btn btn-danger btn-sm" href="@routes.AgendaType.remove(agendaType.id)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>