@(eventTypes: List[models.EventType],locations: List[models.Location])
<div class="row">
    <h4>Add Event</h4>
    <div class="col-md-4 col-sm-8">
        <form method="post" action="/event" class="form-horizontal">
            <div class="form-group">
                <label>Date:</label>
                <input class="form-control" name="date">
            </div>
            <div class="form-group">
                <label>Location:</label>
                <select class="form-control" name="locationId">
                    @for(location <- locations){
                    <option value="@location.id">@location.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Event Type:</label>
                <select class="form-control" name="eventTypeId">
                    @for(eventType <- eventTypes){
                    <option value="@eventType.id">@eventType.name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>