@(eventId: Int, agendaTypes: List[models.AgendaType])
<div class="row">
    <div class="col-md-4 col-sm-8">
        <h4>Add Agenda Type</h4>
        <form class="form-horizontal" method="post" action="/event/@{eventId}/agenda">
            <div class="form-group">
                <label>Agenda Item:</label>
                <div>
                    <select class="form-control" name="agendaTypeId">
                    @for(agendaType <- agendaTypes) {
                        <option value="@agendaType.id">@agendaType.name</option>
                    }
                    </select>
                </div>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-8 col-sm-4 hidden-xs"></div>
</div>