@(event: models.Event, eventDays:String, eventAgendaItem: models.EventAgendaItem,
    agendaType: models.AgendaType, assignments: Seq[AssignmentContact], contacts: Seq[AssignmentContact],
    search:Option[String],total:Int,page:Int,onlyPrefered: Option[Boolean])
<div class="col-md-8 col-sm-12">
    <h4><div class="col-sm-10 col-xs-8">Choose Assignment</div><div class="col-sm-2 col-xs-4"><a class="visible-xs visible-sm btn btn-primary btn-sm" href="#addcontact">Add Contact</a></div></h4>
    <dl class="dl-horizontal">
        <dt>Event</dt>
        <dd><a href="@routes.Event.assignments(event.id)"><strong>@event.name</strong></a></dd>
        <dt>Date</dt>
        <dd>@event.date (<strong>@eventDays</strong>)</dd>
        <dt>Assignment</dt>
        <dd>
            <a href="@routes.Event.getassignments(event.id, eventAgendaItem.id,Some(true),None,None)">@agendaType.name</a>
            @if(onlyPrefered.getOrElse(false)){
            <a href="@routes.Event.getassignments(event.id, eventAgendaItem.id,None,None,None)">(clear)</a>
            }
        </dd>
    </dl>
    @views.html.event.contacttable(event.id,eventAgendaItem.id,eventDays,assignments,true)
    @views.html.event.contactpager(event.id,eventAgendaItem.id,onlyPrefered,search,page,total)
    @views.html.event.contacttable(event.id,eventAgendaItem.id,eventDays,contacts,false)
</div>