@(event: models.Event, eventDays:String, eventAgendaItem: models.EventAgendaItem,
    agendaType: models.AgendaType, assignments: Seq[AssignmentContact], contacts: Seq[AssignmentContact],
    search:Option[String],total:Int,page:Int)
<div class="col-md-8 col-sm-12">
    <h4>Choose Assignment</h4>
    <dl class="dl-horizontal">
        <dt>Event</dt>
        <dd><a href="@routes.Event.assignments(event.id)"><strong>@event.name</strong></a></dd>
        <dt>Date</dt>
        <dd>@event.date (<strong>@eventDays</strong>)</dd>
        <dt>Assignment</dt>
        <dd>@agendaType.name</dd>
    </dl>
    @views.html.event.contacttable(event.id,eventAgendaItem.id,eventDays,assignments,true)
    @views.html.event.contactpager(event.id,eventAgendaItem.id,search,page,total)
    @views.html.event.contacttable(event.id,eventAgendaItem.id,eventDays,contacts,false)
</div>