@(event: models.Event, agendaItems: Seq[(models.EventAgendaItem,String)], eventTypes: Seq[models.EventType], locations: Seq[models.Location])
<div class="row">
    <div class="col-md-4 col-sm-8">
        <h4>Edit Event <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('@routes.Event.remove(event.id)')"><span class="glyphicon glyphicon-trash"></span></a> <a class="btn btn-primary btn-sm pull-right" href="@routes.Event.assignments(event.id)">Assignments</a></h4>
        <form method="post" action="/event/@{event.id}">
            <div class="form-group">
                <label>Id:</label><span>@event.id</span>
            </div>
            <div class="form-group">
                <label>Name:</label><input class="form-control" name="name" value="@event.name">
            </div>
            <div class="form-group">
                <label>Date:</label><input class="form-control form-datetime" readonly name="date" value='@controllers.Utility.formatDate(event.date)'>
            </div>
            <div class="form-group">
                <label>Event Type:</label>
                <select class="form-control" name="eventTypeId">
                @for(eventType <- eventTypes){
                    @if(eventType.id == event.eventTypeId){
                    <option value="@eventType.id" selected>@eventType.name</option>
                    } else {
                    <option value="@eventType.id">@eventType.name</option>
                    }
                }
                </select>
            </div>
            <div class="form-group">
                <label>Location:</label>
                <select class="form-control" name="locationId">
                    @for(location <- locations){
                    @if(location.id == event.locationId){
                    <option value="@location.id" selected>@location.name</option>
                    } else {
                    <option value="@location.id">@location.name</option>
                    }
                    }
                </select>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md8 col-sm-4 hidden-xs"></div>
</div>
<div class="row">
    <h4>Agenda</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for((agendaItem,name) <- agendaItems){
            <tr>
                <td>@agendaItem.id</td>
                <td>@name</td>
                <td>
                    @if(agendaItem.id > 1) {
                    <a href="@routes.Event.moveagenda(event.id,agendaItem.id,agendaItem.id-1)" class="btn btn-default"><span class="glyphicon glyphicon-menu-up"></span></a>
                    } else {
                    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    @if(agendaItem.id < agendaItems.reverse.head._1.id) {
                    <a href="@routes.Event.moveagenda(event.id,agendaItem.id,agendaItem.id+1)" class="btn btn-default"><span class="glyphicon glyphicon-menu-down"></span></a>
                    } else {
                    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                </td>
                <td>
                    <a href="#" onclick="confirmDelete('@routes.Event.removeagenda(event.id,agendaItem.id)')" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>