@(events: Seq[(models.Event,models.Location, Int)],locations:Seq[models.Location], page:Int,total:Int,location:Option[Int])(implicit request: play.api.mvc.Request[Any])
<div class="row">
    <h4>Events</h4>
    <p></p>
    @if(total > 1) {
        @views.html.reports.pager(routes.Event.index(None,location).url,total,page)
    }

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>

                    <form action="@request.path" id="frmLocation" class="form" method="get">
                        Location <select name="location" onchange="if(this.value > 0){ $('#frmLocation').submit();} else { window.location = '@request.path'}">
                            <option
                                @if(location.isEmpty){
                                    selected
                                }
                            >All</option>
                            @for(loc <- locations){
                                <option value="@loc.id"
                                    @if(location.getOrElse(0) == loc.id){
                                        selected
                                    }
                                >@loc.name</option>
                            }
                        </select>
                    </form>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for((event,location, count) <- events){
            <tr>
                <td>@controllers.Utility.formatDate(event.date)</td>
                <td>@event.name</td>
                <td>@location.name</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="@routes.Event.get(event.id)" class="btn btn-primary btn-sm">Edit</a>
                        <a href="@routes.Event.assignments(event.id)" class="btn btn-default btn-sm">Assign</a>
                        @if(count == 0){
                        <a href="@routes.Event.remove(event.id)" class="btn btn-danger btn-sm">Delete</a>
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    @if(total > 1) {
        @views.html.reports.pager(routes.Event.index(None, location).url, total, page)
    }
</div>
