@(events: Seq[(models.Event,models.Location, Int)],page:Int,total:Int)
<div class="row">
    <h4>Events</h4>
    <p></p>
    @views.html.event.eventpager(page,total)

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for((event,location, count) <- events){
            <tr>
                <td>@{
                    val sdf = new java.text.SimpleDateFormat("MM-dd-yyyy")
                    sdf format event.date
                    }</td>
                <td>@event.name</td>
                <td>@location.name</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="@routes.Event.get(event.id)" class="btn btn-primary btn-sm">Edit</a>
                        <a href="@routes.Event.assignments(event.id)" class="btn btn-default btn-sm">Assign</a>
                        @if(count == 0){
                        <a href="@routes.Event.remove(event.id)" class="btn btn-danger btn-sm">Delete</a>
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @views.html.event.eventpager(page,total)
</div>
