@(locations: List[models.Location])
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(location <- locations) {
                <tr>
                    <td>@location.id</td>
                    <td>@location.name</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm" href="@routes.Location.get(location.id)">Edit</a>
                            <a class="btn btn-danger btn-sm" href="#" onclick="confirmDelete('@routes.Location.remove(location.id)')">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>