@(msg: String)
@views.html.login.main(msg) {
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
        <form action="@routes.Application.login"  method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input id="login" name="login" class="form-control" type="email" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" placeholder="Password" type="password">
            </div>
            <div>
                <button class="btn btn-sm" type="submit">Login</button><a class="btn btn-sm" href="@routes.Application.reset">Reset Password</a>
            </div>
        </form>
    </div>
</div>
}