@(users: Seq[models.User],userId: String)
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Last Login</th>
            <th>Last Attempt</th>
            <th>Failed Attempts</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for(u <- users) {
        <tr>
            <td>@u.email</td>
            <td>@u.givenName @u.lastName</td>
            <td>@u.lastLogin</td>
            <td>@u.lastAttempt</td>
            <td>@u.failedAttempts</td>
            <td>
                @if(userId != u.email) {
                <a href="@routes.Account.setactive(u.email,!u.active)">
                    @if(u.active) {
                    Deactivate
                    } else {
                    Activate
                    }
                </a>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>