@(contactId: Int, prefYes: Seq[Int], prefNo: Seq[Int], agendaTypes: Seq[(models.AgendaType, Seq[models.AgendaType])])
<div class="row">
    <div class="col-md-12">
        <h4>Preferences</h4>
        <form method="post" action="@routes.Contact.addpreference(contactId)">
            <table class="table">
                <thead>
                    <tr>
                        <th>Agenda Type</th>
                        <th>Yes</th>
                        <th>No</th>
                        <th>N/A</th>
                    </tr>
                </thead>
                <tbody>
                    @for(idx <- agendaTypes.indices){
                    <tr>
                        <th>@agendaTypes(idx)._1.name</th>
                        <td>
                            <input type="radio" name="agendaTypes[@{idx + 1}]" value="@{ "yes-" + agendaTypes(idx)._1.id}" @if(prefYes.contains(agendaTypes(idx)._1.id)){
                                   checked
                                   } >
                        </td>
                        <td>
                            <input type="radio" name="agendaTypes[@{idx + 1}]" value="@{ "no-" + agendaTypes(idx)._1.id }" @if(prefNo.contains(agendaTypes(idx)._1.id)){
                                   checked
                                   }>
                        </td>
                        <td>
                            <input type="radio" name="agendaTypes[@{idx + 1}]" value="@{ "na-" + agendaTypes(idx)._1.id }" @if(!prefNo.contains(agendaTypes(idx)._1.id) && !prefYes.contains(agendaTypes(idx)._1.id)){
                                   checked
                                   }>
                        </td>
                    </tr>
                    @for(jdx <- agendaTypes(idx)._2.indices){
                    <tr>
                        <td><label class="col-md-1"></label> @agendaTypes(idx)._2(jdx).name</td>
                        <td>
                            <input type="radio" name="agendaTypes[@{(idx + 1) * 100 + jdx}]" value="@{ "yes-" + agendaTypes(idx)._2(jdx).id}" @if(prefYes.contains(agendaTypes(idx)._2(jdx).id)){
                            checked
                            } >
                        </td>
                        <td>
                            <input type="radio" name="agendaTypes[@{(idx + 1) * 100 + jdx}]" value="@{ "no-" + agendaTypes(idx)._2(jdx).id }" @if(prefNo.contains(agendaTypes(idx)._2(jdx).id)){
                            checked
                            }>
                        </td>
                        <td>
                            <input type="radio" name="agendaTypes[@{(idx + 1) * 100 + jdx}]" value="@{ "na-" + agendaTypes(idx)._2(jdx).id }" @if(!prefNo.contains(agendaTypes(idx)._2(jdx).id) && !prefYes.contains(agendaTypes(idx)._2(jdx).id)){
                            checked
                            }>
                        </td>
                    </tr>
                    }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>